<ul class="post-list">
<% site.posts.sort("date","desc").each(function(post){ %>
   <li>
    <h3>
        <a href="<%- url_for(post.path) %>">
         <%= post.title %>
        </a>
    </h3>
    <div class='text-muted'>
      <%= date(post.date, config.date_format) %> 
    </div>
   </li>
<% }) %>
</ul>
