<header>
	<div class="pure-menu pure-menu-horizontal">
	    <ul class="pure-menu-list">
	        <li class="pure-menu-item"><a href="/" class="pure-menu-link">首页</a></li>
	        <li class="pure-menu-item"><a href="/about" class="pure-menu-link">关于我</a></li>
	    </ul>
	</div>
</header>
