<div class="main-index main-bg">
    <ul class="nav-list clearfix">
        <% for (var i in theme.menu){ %>
            <li>
                <% if( !is_current('index', true) ){%>
                    <a class="blog-nav-item" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
                <%}%>
            </li>
        <% } %>
    </ul>
</div>