<html>
    <!-- Head tag -->
    <%- partial('_partial/head') %>
    <body>
        <div>
            <!-- header -->
            <%- partial('_partial/header') %>
            <!-- body -->
            <div class="main">
                <%- body %>
            </div>
            <!-- footer -->
            <%- partial('_partial/footer') %>
        </div>
    </body>
</html>