<footer class="copy-right">
    <p class="hexo">Powered by Nodejs & Hexo,Thanks!</p>
    <div class="social">
        <%for(var i in config.social){%>
            <a href="<%- url_for(config.social[i]) %>" target="_blank"><i class="fa fa-<%= i %>" aria-hidden="true"></i></a>
        <%}%>
    </div>
</footer>

<%- partial("baidutongji") %>