<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name='TTUNION_verify' content='1477e254b7a0da4ce05ce157d9270b6a'>
    <link rel="icon" href="favicon/favicon.ico">
    <title><%- config.title %></title>
    <%- css('css/font-awesome.min.css') %>
    <%- css('normalize.css') %>
    <%- css('main.css') %>
</head>