<div class="nav-bar">
    <div class="nav-container clearfix">

        <ul class="nav-list clearfix">
            <% for (var i in theme.menu){ %>
                <li>
                    <a class="blog-nav-item" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
                </li>
            <% } %>
        </ul>

        <div class="author">
            <div class="avatar">
                <a href="/about"><img src="<%=theme.avatar%>"></a>
            </div>
        </div>
    </div>
</div>